
# CONFIGURACIÓN GENERAL

DEBUG=1
SECRET_KEY=dev-secret-key

# BASE DE DATOS
# Opciones: sqlite | postgres
DB_ENGINE=sqlite

# Solo si usas PostgreSQL
DB_NAME=modulo_ventas
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432


# SUPERUSUARIO (DEV)
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin12345